html {
  font: 100%/1.5 sans-serif;
  background: #F5F7FA;
  color: #3A4B56;
}

.EMPTY_TEST {  }

a {
  color: #3399ff;
}

body {
  display: flex;
  flex-direction: column;
}

.Icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 24px;
}

.feather {
  stroke-width: 1;
}
